*$py.class
*.egg-info/*
*.log
*.py[cod]
.cache/
.idea
.pybuild
__pycache__/
docs/build
*-dev.yaml

# debuild
debian/*.debhelper
debian/*.substvars
debian/install
debian/debhelper-build-stamp
debian/files
debian/philipplay/
