Source: philipplay
Section: utils
Priority: optional
Maintainer: Markus Gilli <m.gi@gmx.ch>
Build-Depends: debhelper (>= 9), dh-systemd, python3
Standards-Version: 4.1.1
X-Python3-Version: >= 3.6


Package: philipplay
Architecture: all
Depends:       ${python3:Depends},
               ${misc:Depends}
Description: Audio Player for Raspberry Pi 
 Simple Audio Player to be used on a Raspberry Pi
